.nav{
    display: flex;
    align-items: center;
    color: rgb(0,0,255);
    font-size:15px;
}

.menu{
    margin-right: 40px;
}

.effect{
    position: relative;
    width: 100%;
    margin-bottom:20px;
}

#image{
    height:300px;
    width: 100%;
}
#overlay {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.effect:hover #overlay {
    opacity: 1;
}
#main{
    display: flex;
    align-items:center;
    flex-direction:column;
}
#pic{
    height: 100px;
    width: 100px;
    border-radius: 40px;
    background-image: url("pic.jpg");
    background-size: cover;
}
h3, h2, #des{
    color: rgb(1, 116, 89);
}
.small-line {
  width: 150px;       
  height: 2px;         
  background-color: rgb(1, 116, 89);
  border: none;
  margin: 10px 0;
}
.project1{
    display: flex;
    align-items: center;
    margin: 10px;
}

.project{
    height: 150px;
    width: 200px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}


.image{
    height:200px;
    width:200px;
    margin-right: 10px;

}


